<h3>Add a album :</h3> 

<form method="post" action="/albums">
  Name :<input type="text" name="albums[name]"/>
  Description : <textarea name="albums[description]"></textarea>
  <input type="submit" />
</form>
