<div class="page-header">
  <h3 class="admin-tools-title">Administration
    <small class="pictures-tool">
      Gestion des images
    </small>
    <small class="home-tool">
      Gestion de la page d'acceuil
    </small>
    <small class="offers-tool">
      Gestion des offres reçues
    </small>
    <small class="contacts-tool">
      Gestion des contacts reçues
    </small>
    <span class="admin-tools">
      <a class="action show-home-tool"><i class="icon-home"></i></a>
      <a class="action show-pictures-tool"><i class="icon-picture"></i></a>
      <a class="action show-offers-tool"><i class="icon-money"></i></a>
      <a class="action show-contacts-tool"><i class="icon-envelope"></i></a>
    </span>
  </h3>
</div>

<div class="row-fluid">
  <div class="span6">

  </div>

</div>
<div class="row-fluid">
    <%- partial("./_homeTool", {pictures: pictures, home: home}) %>
    <%- partial("./_picturesTool", {pictures: pictures, albums: albums}) %>
    <%- partial("./_offersTool", {pictures: pictures}) %>
    <%- partial("./_contactsTool", {contacts: contacts}) %>
</div>


