<div id="modalMarkdownInfo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Utilisation des markdowns.</h3>
  </div>
  <div class="modal-body">
    <p>
      Le but de la syntaxe Markdown est d'offrir une syntaxe facile à lire et à écrire. C'est-à-dire qu'un document formaté selon Markdown devrait pouvoir être publié comme tel, en texte, sans donner l’impression qu’il a été marqué par des balises ou des instructions de formatage.
    </p>
    <h4>Exemple:</h4>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Markdown</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              # Hello #
            </td>
            <td>
              <h1>Hello</h1>
            </td>
          </tr>
          <tr>
            <td>
              ## Hello ##
            </td>
            <td>
              <h2>Hello</h2>
            </td>
          </tr>
          <tr>
            <td>
              *Art*
            </td>
            <td>
              <i>Art</i>
            </td>
          </tr>
          <tr>
            <td>
              **Peinture**
            </td>
            <td>
              <strong>Peinture</strong>
            </td>
          </tr>
          <tr>
            <td>
              Ceci est un [lien] (http://google.be "Titre")
            </td>
            <td>
              <p>Ceci est un <a href="http://google.be" title="Titre">lien</a></p>
            </td>
          <tr>
          <tr>
            <td>
              ![Image](http://rfactor.net/web/wp-content/uploads/2012/07/bt20frontpage.jpg "Titre")
            </td>
            <td>
              <img src="http://rfactor.net/web/wp-content/uploads/2012/07/bt20frontpage.jpg" title="rFactor2">
            </td>
          <tr>
          <tr>
            <td>
            
            </td>
            <td>
            
            </td>
          <tr>
      </tbody>
    </table>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>