
<% if (book.errors) { %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Erreur(s) lors de l'ajout d'un livre:</h4>
    <ul>
      <% for (attribute in book.errors) { %>
        <li><%= book.errors[attribute].type %></li>
      <% }; %>
    </ul>
    <small>Veuillez réintroduire votre demande avec les données manquantes.</small>
  </div>
<% } %>

<div class="page-header">
  <h2>
		Livres/nouvelles
	</h2>
</div>


<% books.forEach(function (book) { %>
	<a href="<%= book.path %>" class="book-cover">
		<div class="book-cover-title">
			<span><%= book.name %></span>
		</div>
	</a>
<% }); %>


<% if (currentUser) { %>
  <div class="row-fluid">
    <%- partial("books/_newBook", {book: book}) %>
  </div>
<% } %>