<div class="menu-principal">
  <ul>
	  <li><a href="/">Acceuil</a></li>
	  <li><a href="/albums">Galerie Peintures</a></li>
	  <li><a href="/books">Livers & nouvelles</a></li>
	  <li><a href="/news">News</a></li>
	  <li><a href="#5">Contact</a></li>
		<% if (currentUser) { %>
		  <li><a href="/admin">Admin</a></li>
		<% } %>
  </ul>
</div>
