
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="/"><i class="icon-home"></i> Claudine Lux</a>
    <ul class="nav">
	  <li><a href="/albums"><i class="icon-picture"></i> Peintures</a></li>
	  <li><a href="/books"><i class="icon-book"></i> Livres & nouvelles</a></li>
	  <li><a href="/news"><i class="icon-comment-alt"></i> News</a></li>
	  <li><a href="/contact"><i class="icon-envelope"></i> Contact</a></li>
    </ul>
		<% if (currentUser) { %>
			<ul class="nav pull-right">
		  	<li><a href="/admin">Admin<i class="icon-cog"></i></a></li>
			</ul>
		<% } %>
  </div>
</div>