<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Pierre Biezemans">
		<title>ArtGaly</title>	
		<script language="javascript" src="/vendor/jquery-1.8.0.min.js"></script>
		<script language="javascript" src="/js/artgaly.js"></script>
		<script language="javascript" src="/js/pdfobject_source.js"></script>
		<script src="/elastislide/js/modernizr.custom.17475.js"></script>
		<script language="javascript" src="/js/bootbox.min.js"></script>
		<script src="/bootstrap/js/bootstrap.js"></script> 	 		
		<script src="/elastislide/js/jquerypp.custom.js"></script> 		
		<script src="/elastislide/js/jquery.elastislide.js"></script> 		
		<link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="/elastislide/css/elastislide.css" rel="stylesheet" type="text/css" />
		<link href="/css/style.css" rel="stylesheet" type="text/css" />

	</head>
	<body>
		<div class="menu">
	  <%- partial("menus/_menuTop") %>
	</div>
	  <!--<div class="header">
	    <%- partial("headers/_header") %>
	  </div>-->
	  <div class="container">
	    <%- body %>

	    
      <footer class="modal-footer">
        © Copyright Claudine Lux 2012. All rights reserved.
      </footer>
	  </div>
	</body>
</html>
