body {
  margin: 0;
  padding: 0;
}

.container {
  margin-bottom: 20px;
  border-radius: 10px; -moz-border-radius: 10px;-webkit-border-radius: 10px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}

.header {
  background: url(/pics/header.png);
  height: 100px;
  margin: 0;
  padding: 20px 0 0 60px;
}

.header a {
  text-decoration: none;
  size: 36px;
  color: white;
}

.header h1 {
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px, gba(0, 0, 0, 0.2) -1px 1px, gba(0, 0, 0, 0.2) -1px -1px, gba(0, 0, 0, 0.2) 1px -1px; 
}

.header h1 span {
}

.container {
}

.menu-principal {
  float:right;
  margin-right: 12%;
}

.menu-principal ul {
  display: table;
  padding: 0;
}
.menu-principal ul li {
  display: table-cell;
}

.menu-principal ul li a {
  font-size: 18px;
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 1); 
  text-decoration: none;
  padding: 4px 12px;
}

.menu-principal ul li:hover {
  font-weight: bold;
  padding: 0 25px;
}

.home-carousel {
  text-align: center;
  height: 340px;
  padding: 20px 0;
}

#myCarousel {
  width: 575px;
  height: 250px;
  margin: auto;
}

#myCarousel img{
  width: 475px;
  height: 250px;
  margin-left: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.carousel-control {
  margin: auto;
  width: 25px;
  height: 25px;
  font-size: 22px;
  line-height: 22px;
}

.profile-picture {
  float: left;
  margin: 0 7px 0 0; 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.upload-list-files {
  margin-top: 20px;
}

.upload-list-files li {
  float: left;
  margin: 4px 40px 4px 4px; 
  padding: 2px;
}

.pic-album-view {
  float: left;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  padding: 20px 10px;
  margin: 2px;
}
.pic-album-view a {
  display: block;
}

.pic-album-view img {
  padding: 5px;
  max-height: 130px;
  max-width: 130px;
}

.tools-bar {
  margin-top: 20px;
  float: right;
}

.modal-gallery {
  width: auto;
  max-width: 100%;
}
