body {
  margin: 0;
  padding: 0;
}

body {
  background: url(http://d0.artquid.fr/art/4/103/288766.432111448.1.1600m.jpg);
  background-size: 100% 100%;
  background-attachment: fixed
}

.container {
  margin-bottom: 20px;
  border-radius: 6px; -moz-border-radius: 6px;-webkit-border-radius: 6px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
}

.header {
  height: 100px;
  margin: 0;
  padding: 20px 0 0 60px;
}

.header a {
  text-decoration: none;
  size: 36px;
  color: white;
}

.header h1 {
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px, gba(0, 0, 0, 0.2) -1px 1px, gba(0, 0, 0, 0.2) -1px -1px, gba(0, 0, 0, 0.2) 1px -1px; 
}

.header h1 span {
}

.menu-principal {
  float:right;
  margin-right: 12%;
}

.menu-principal ul {
  display: table;
  padding: 0;
}
.menu-principal ul li {
  display: table-cell;
}

.menu-principal ul li a {
  font-size: 18px;
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 1); 
  text-decoration: none;
  padding: 4px 12px;
}

.menu-principal ul li:hover {
  font-weight: bold;
  padding: 0 25px;
}

.home-carousel {
  text-align: center;
  padding: 20px 0;
  float: left;
  margin: 12px;
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 25px rgba(0,0,0,.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#myCarousel {
  width: 375px;
  height: 230px;
  margin: auto;
}

#myCarousel img{
  max-width: 375px;
  max-height: 230px;
  margin-left: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
}

.carousel-control {
  margin: auto;
  width: 25px;
  height: 25px;
  font-size: 22px;
  line-height: 22px;
}

.profile-picture {
  float: left;
  margin: 0 7px 0 0; 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
}

.upload-list-files {
  margin-top: 20px;
}

.upload-list-files li {
  float: left;
  margin: 4px 40px 4px 4px; 
  padding: 2px;
}

.pic-album-view {
  float: left;
  height: 150px;
  width: 150px;
  padding: 20px 10px;
  margin: 2px;
}
.pic-album-view a {
}

.pic-album-view img {
  padding: 5px;
  max-height: 130px;
  max-width: 130px;
  display: inline;
}

.picture-link {
  display: block;
}

.picture-view {
  text-align: center;
  padding: 10px 10px;
  margin: 15px 15px;
}

.picture-view img {
  max-height: 400px;
  box-shadow: 0px 0px 25px rgba(0,0,0,.3);
}

.picture-description {
  margin: auto;
  padding: 10px 10px;
  display: inline-block;
}

.comment {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(135, 135, 135, 0.2);
  margin: 20px;
  padding: 8px;
}

.add-comment textarea {
  width: 640px;
  height: 120px;
  resize: none;
}

.add-comment input {
  width: 640px;
}

.image-move-button {
  font-size: 48px;
  text-decoration: none;
  margin-top: 200px;
}

.image-move-button a {
  text-decoration: none;
}

.tools-bar {
  margin-top: 20px;
  float: right;
}

.modal-gallery {
  width: auto;
  max-width: 100%;
}

.album-box {
  width: 210px;
  height: 210px;
  float: left;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.album-box a {
  text-decoration: none;
}

.album-box img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.portfolio li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 1em;
  width: 190px;
  height: 135px;
  box-shadow: 0px 0px 25px rgba(0,0,0,.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.portfolio img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.portfolio li span {
  text-align: left;
  position: absolute;
  color: #fff;
  background: rgba(0,0,0,0.6);
  width: 120px;
  padding: 5px 15px 7px;
  z-index: 1;
  left: -10px;
  bottom: 10px;
}

.portfolio li a.edit-picture {
  position: absolute;
  opacity:0.85;
  filter:alpha(opacity=85);
}

.portfolio-cover {
  top: -23px;
  position: absolute;
}

.little-picture {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 10px 0; 
  width: 190px;
  height: 135px;
  box-shadow: 0px 0px 25px rgba(0,0,0,.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.hided-form, .hided-form2 {
  width: 60%;
  min-width: 180px;
  background-color: rgba(113, 120, 119, 0.1);
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  box-shadow: 2px 2px 3px rgba(113, 120, 119, 0.6);

}

.hided-form textarea  {
  width: 100%;
  height: 120px;
  resize: none;
}

.hided-form-sumbit {
  text-align:center;
  margin: auto;
}

.news-list li {
  margin-left: 12px;
}

.pdf-preview {
  width: 700px;
  height: 800px;
  float: left;
  margin: auto;
}

#pdf {
}

.book-cover {
  display: inline-block;
  height: 300px;
  width: 200px;
  background: rgba(0,0,0,0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.book-cover-title {
  content: '';
  top: 0;
  left: 25px;
  bottom: 0;
  width: 5px;
  background: rgba(0,0,0,0.06);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.book-cover-title span {
  display: inline-block;
  margin-top: 145px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  width: 200px;
  height: 100px;
  font-size: 25px;
  padding: 16px 16px;
  color: white;
}

.bar {
    width: 300px;
  }
  
  #progress {
    background: #eee;
    border: 1px solid #222;
    margin-top: 20px;
  }
  #progressbar {
    width: 0px;
    height: 24px;
    background: #333;
  }
