<div class="page-header">
	<h2>
		Connection au compte Admin <small>il n'existe pas de compte utilisateur, seul l'administrateur peut se connecter.</small>
	</h2>
</div>

<form method="post" action="/login">   
  <div>
    <label for="login[user]">
      Nom d'utilisateur:
    </label>
    <input type="text" value="" name="username" />
  </div>
  <div>
    <label for="login[password]">
      Mot de passe:
    </label>
    <input type="password" name="password">
  </div>
  <div class="input-append hided-form-sumbit">
    <input class="btn" type="submit" value="Login">
  </div>
</form> 