<div class="page-header">
	<h2>
		Connection au compte Admin
	</h2>
</div>

<form method="post" action="/login">   
  <div>
    <label for="login[user]">
      Nom d'utilisateur.
    </label>
    <input type="text" value="" name="username" />
  </div>
  <div>
    <label for="login[password]">
      Description
    </label>
    <input type="password" name="password">
  </div>
  <div class="input-append hided-form-sumbit">
    <input class="btn" type="submit" value="Login">
  </div>
</form> 