<div class="row-fluid">
  <div class="tools-bar pull-right">
    <div class="upload-pictures-form-add-button">
      <a class="btn action show-upload-files-form">
        Ajouter des photos
      </a>  
    </div>
    <div class="hide-upload-files-form">
      <form method="post" enctype="multipart/form-data" action="/pictures" class="form-horizontal form-upload-files" aria-hidden="true">
        <input type="hidden" name="pictures[album]" value="<%= album.id %>">
        <input id="lefile" class="upload-files" type="file" style="display:none" name="pictures" multiple="multiple" accept="image/jpeg, image/png">
        <div class="input-append btn-upload">
          <a href="#myModal" role="button" class="btn" data-toggle="modal">?</a>
          <a class="btn btn-browse" onclick="$('input[id=lefile]').click();">Charger</a>
          <input type="submit" value="Envoyer" class="btn" />
          <a class="action hide-upload-files-form btn btn-inverse">Retour</a>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row-fluid">
  <ol class="upload-list-files">

  </ol>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Chargement de photos</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>Veuillez charger la ou les photo(s) et les envoyer vers l'album.</li>
      <li>Seul les fichiers .jpg & .png sont acceptés.</li>
      <li>L'édition des données se fera une fois les images envoyées.</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>