<div class="hided-form">
  <form method="post" action="/album" class="form-horizontal">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="album[id]" value="<%= album.id %>">
    <div class="control-group">
      <label class="control-label" for="inputName">Nom: </label>
      <div class="controls">
        <input type="text" value="<%= album.name || '' %>" name="album[name]"></input>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputName">Description: </label>
      <div class="controls">
        <textarea name="album[description]"><%= album.description || '' %></textarea>
      </div>
    </div>
    <div class="control-group">
      <input class="btn" type="submit" value="Modifier">
      <a class="btn btn-danger action hide-form-btn">Annuler</a>
    </div>
  </form>
</div> 