<div id="updateAlbum" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="updateAlbumLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= album.name %></h3>
  </div>
  <form method="post" action="/album" class="form-horizontal">
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="inputName">Nom: </label>
        <div class="controls">
          <input type="text" value="<%= album.name || '' %>" name="album[name]"></input>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputName">Description: </label>
        <div class="controls">
          <textarea name="album[description]"><%= album.description || '' %></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
      <input class="btn" type="submit" value="Créer">
    </div>
  </form> 
</div>
