<form method="post" action="/album" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputName">Nom:</label>
    <div class="controls">
      <input type="text" value="<%= album.name || '' %>" name=album[name]"></input>
    </div>
  </div>
</form>
