<% if (album.errors) { %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Erreur(s) lors de la modification de l'album:</h4>
    <ul>
      <% for (attribute in album.errors) { %>
        <li><%= album.errors[attribute].type %></li>
      <% }; %>
    </ul>
    <small>Veuillez réintroduire votre demande avec les données manquantes.</small>
  </div>
<% } %>

<div class="page-header">
  <h2>
    <%= album.name %>
    <span class="pull-right">
      <a href="#updateAlbum" data-toggle="modal" class="btn btn-small">
        Modifier l'album
      </a>
    </span>
  </h2>
</div>
<div class="row-fluid">
BLA
</div>

<div class="row-fluid pictures-form-add-button">
  <a data-toggle="modal" class="btn btn-small action show-pictures-form">
    Ajouter des photos.
  </a>  
</div>
<div class="pictures-form" aria-hidden="true">
  <form method="post" enctype="multipart/form-data" action="/pictures" class="form-horizontal" aria-hidden="true">
    <input type="hidden" name="pictures[album]" value="<%= album.id %>">
    <input id="lefile" class="upload-pictures" type="file" style="display:none" name="pictures" multiple="multiple">
      <div class="input-append">
        <div class="control-group">
          <a class="btn btn-browse" onclick="$('input[id=lefile]').click();">Browse</a>
          <input type="submit" class="btn">
          <a class="action hide-pictures-form btn btn-danger">Retour</a> 
        </div>
      </div>
      <ol class="upload-list-files">
        
      </ol>
  </form>   
</div>
<!-- Modal -->

<%- partial("albums/_updateAlbum", {album: album}) %>
