<div class="row-fluid">
  <div class="hided-form">
    <form method="post" action="/news" class="form-horizontal">
      <div>
        <label for="news[title]">
          Titre
        </label>
        <input type="text" value="<%= news.title || '' %>" name="news[title]">
      </div>
      <div class="news-elements">
        <label for="news[elements]">
          News
        </label>
        <div class="news-element">
          <input type="text" value="<%= news.title || '' %>" name="news[elements][]">
        </div>
      </div>
      <div class="input-append hided-form-sumbit">
        <a class="btn action add-news-element">
          <i class="icon-plus-sign" title="Ajouter un élément à la news"></i>
        </a>
        <input class="btn" type="submit" value="Créer">
        <a class="action hide-form-btn btn btn-inverse">Retour</a>
      </div>
    </form>
  </div>
</div>