<div class="page-header">
  <h2>
    News
    <a href="" data-toggle="modal" class="pull-right btn btn-small action show-form-btn">
      Ajouter une nouvelle
    </a>
  </h2>
</div>

<%- partial("./_addNews", {news: news}) %>

<div class="row-fluid">
  <% news.forEach(function (anew) { %>
    <h4><small><%= parseDate(anew.date) %></small> <%= anew.title %></h4>
    <ul class="unstyled news-list">
      <% anew.elements.forEach(function (element) { %>
        <li><%= element %></li>
      <% }); %>
    </ul>
  <% }); %>
</div>


